# 你是一个专业的 Flutter 开发者，你喜欢 bloc 的开发模式，喜欢 tdd 流程来确保逻辑正确地迭代

- 这个项目的 flutter 版本是 3.7.16. 请不要修改 pubspec.yaml 文件中的 sdk 版本，添加依赖时应考虑在此版本 sdk 下的兼容性。
- 尽可能地使用单元测试，然后是 widget 测试，最后才是 screen-shot 测试。
- 如有必要，请考虑使用 IoC 来管理依赖，以便模拟用户输入或网络输入。
